.switch {
  width: 80px;
  height: 50px;
  background-color:#0000006b;
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
  background:#014360;
}
.switch[data-isOn="false"] {
  background:#1f81b0;
}

.handle {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 40px;
}
